*{
    box-sizing: border-box;
}

#envoltorio{
    width: 85%;
    margin: 0 auto;
    min-width: 650px;
}

#envoltorio header {
    width: 100%;
    background-color: rgb(37, 150, 190);
    padding-top: 70px;
    padding-bottom: 70px;
}
#envoltorio header h1 {
    color: white;
    text-align: center;
}

nav{
    display: flex;
    background-color: rgba(155, 187, 89,255);
}

nav h2{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

#envoltorio #contenido {
    display: flex;
}

#envoltorio #contenido #izq {
    padding: 20px 3%;
    background-color: rgb(37, 150, 190);
    width: 25%;
}
#envoltorio #contenido #izq h1 {
    color: white;
    text-align: center;
}

#envoltorio #contenido #izq p{
    color: white;
    text-align: left;
}

#envoltorio #contenido main {
    width: 50%;
    padding: 20px 3%;
} 

#envoltorio #contenido main h1 {
    font-size: 20pt;
    text-align: center;
}

#envoltorio #contenido main p {
    text-align: center;
    font-size: 15pt;
}

#envoltorio #contenido #dch {
    padding: 20px 3%;
    background-color: rgb(37, 150, 190);
    width: 25%;
}

#envoltorio #contenido #dch h1 {
    font-size: 20pt;
    text-align: center;
}

#envoltorio #contenido #dch img{
    width: 100pt;
    margin-top: 10px;
}

#envoltorio #contenido #dch .publicidad{
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 70px;
    border-radius: 20px;
}

#envoltorio #contenido #dch .publicidad p{
    font-size: 20px;
    padding-top: 5px;
    color: black;
    width: 75%;
    margin: 10px auto;
}
#envoltorio footer{
    background-color: rgba(155, 187, 89,255);
    display: flex;
    flex: 1 1 50%;
}
#envoltorio footer p{
    padding-left: 30px;
}